<launch> 

   <!-- Parameters -->
   <arg name="map_airlab" value="$(find e2_config)/map/airlab/map.yaml" />
   <param name="use_sim_time" value="false" />
 
   <!-- RosBag-->
   <node pkg="rosbag" type="play" name="play" args="-l $(find e2_launch)/launch/test/bag/sonar.bag $(find e2_launch)/launch/test/bag/amcl_tune.bag --topics /odom /scan /tf /e2_sonar"/>
   
   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_airlab)"/>

   <!-- Run AMCL -->
   <include file="$(find e2_launch)/launch/components/base/amcl_diff.launch" />

   <!-- Run Move Base -->
   <include file="$(find e2_launch)/launch/components/base/move_base.launch" />

   <!-- Rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find e2_launch)/launch/config/robot.rviz"/>
  
</launch>