<launch> 

   <!-- Parameters -->
   <arg name="map_airlab" value="$(find e2_config)/map/test_space/map.yaml" />
   <param name="use_sim_time" value="false" />
 
   <!-- Kinect launch and scanner info -->
   <include file="$(find e2_launch)/launch/components/e2_scanner.launch" />
 
   <!-- Odom & Tf -->
   <include file="$(find e2_launch)/launch/components/e2_odometry.launch" /> 

   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_airlab)"/>

   <!-- Run AMCL -->
   <include file="$(find e2_launch)/launch/components/base/amcl_diff.launch" />

   <!-- Run Move Base -->
   <include file="$(find e2_launch)/launch/components/base/move_base.launch" />

   <!-- Joystick -->
   <include file="$(find triskar)/launch/teleop_joy.launch" />

  
</launch>
