<launch> 

   <param name="use_sim_time" value="false" />
   
   <!-- Static Transform -->
   <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    	args="0.0 0 0 0 0 0  /map /odom 100" />
    	
   <!-- Odom & Tf -->
   <include file="$(find e2_launch)/launch/components/e2_odometry.launch" /> 

   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find e2_config)/map/test_space/map.yaml"/>
  	
   <!-- Joystick -->
   <include file="$(find triskar)/launch/teleop_joy.launch" />
   
   <!-- Rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find e2_launch)/launch/config/robot.rviz"/>
   
</launch>
