<launch> 

   <param name="use_sim_time" value="false" />

   <!-- Static Transform -->
   <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    	args="0.0 0 0 0 0 0  /map /odom 100" />

  <!-- Odometry Node -->
  <node name="odom" pkg="e2_odometry" type="e2_odometry_node" respawn="true" output="screen">
  	<param name="debug" type="bool" value="true" />
  	<param name="odom_type" type="string" value="encoder" />
  	<param name="vel_topic" type="string" value="/triskar/velocity" />
  	<param name="enc_1" type="string" value="/triskar/encoder3" />
  	<param name="enc_2" type="string" value="/triskar/encoder1" />
  	<param name="enc_3" type="string" value="/triskar/encoder2" />
  </node>
  
  <!-- Transformations Node -->
  <node name="transform" pkg="e2_odometry" type="e2_tf_node" respawn="false" output="screen"/>

   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find e2_config)/map/airlab/map.yaml"/>

   <!-- Rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find e2_launch)/launch/config/robot.rviz"/>

   <!-- RosBag-->
   <node pkg="rosbag" type="play" name="play" args="--clock -l $(find e2_launch)/launch/test/bag/2014-04-14-16-59-34.bag --topics /triskar/encoder1 /triskar/encoder2 /triskar/encoder3 /triskar/velocity"/>
</launch>
