<launch>

	<!-- Static Marker Transform -->
	<node pkg="tf" type="static_transform_publisher" name="marker_0"
    	args="1.47 7.72 0 0 0 0  /map /marker_0 100" />	
        <!-- Static Marker Transform -->
        <node pkg="tf" type="static_transform_publisher" name="marker_1"
        args="1.94 3.64 0 0 0 0  /map /marker_1 100" />

	<node pkg="e2_navigation" type="e2_localization" name="e2_localization"/>

	
</launch>
