<launch>

	<!-- Kinect launch and scanner info -->
	<include file="$(find e2_navigation)/launch/scanner.launch" />

	<!-- Odom & Tf -->
	<node name="fake_odom" pkg="e2_simulator" type="e2_fake_odom" respawn="true" output="screen" />
	<!-- <node name="fake_enc" pkg="e2_simulator" type="e2_fake_encoder" respawn="true" output="screen" /> -->

	<!-- <node name="odom" pkg="odometry" type="odom_pub" respawn="true" output="screen" /> -->
	<node name="transform" pkg="odometry" type="tf_pub" respawn="false" output="screen"/>

	<!-- Run the map server -->
    	<node name="map_server" pkg="map_server" type="map_server" args="$(find e2_navigation)/map/fiera_final.yaml"/>

	<!-- Run AMCL -->
  	<include file="$(find e2_navigation)/launch/amcl_e2.launch" />

	<!-- Run Move Base -->
	<include file="$(find e2_navigation)/launch/move_base.launch" />
	
	<!-- Face Recognition Node -->
	<include file="$(find face_recognition)/launch/face_recognition.launch" />
		

</launch>
