<launch>

    <!-- Kinect launch and scanner info -->
	<include file="$(find e2_launch)/launch/e2_scanner.launch" />
	
	<!-- Neck Controller Node -->
	<include file="$(find e2_launch)/launch/e2_neck_controller.launch" />
	
	<!-- Joystick -->
	<!--<include file="$(find triskar)/launch/teleop_joy.launch" /> -->
	
</launch>