<launch>

	<!-- Static Transform -->
<!--	<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    	args="0.0 0 0 0 0 0  /map /odom 100" /> -->

	
    <!-- Kinect launch and scanner info -->
	<include file="$(find e2_launch)/launch/scanner.launch" />

	<!-- Odom & Tf -->
	<include file="$(find e2_odometry)/launch/odometry.launch" /> 

	<!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find e2_navigation)/map/fiera_final.yaml"/>

	<!-- Run AMCL -->
  	<include file="$(find e2_launch)/launch/amcl_diff.launch" />

	<!-- Run Move Base -->
	<include file="$(find e2_launch)/launch/move_base.launch" />
	
	<!-- Face Recognition Node -->
	<include file="$(find e2_launch)/launch/face_recognition.launch" />
	
	<!-- Neck Controller Node -->
<!--	<include file="$(find e2_launch)/launch/neck_controller.launch" /> -->	

</launch>
