<launch>
	
    <!-- Kinect launch and scanner info -->
	<include file="$(find e2_launch)/launch/scanner.launch" />

	<!-- Odom & Tf -->
	<include file="$(find e2_launch)/launch/e2_odometry.launch" /> 
	   
	<!-- Face Recognition Node -->
	<include file="$(find e2_launch)/launch/face_recognition.launch" />
		
	<!-- Neck Controller Node -->
	<include file="$(find e2_launch)/launch/e2_neck_controller.launch" />
	
	<!-- Navigation Node -->
	<include file="$(find e2_launch)/launch/e2_navigation.launch" />	

</launch>
