<launch>

	<!-- Load Navigation Joystick -->
	<include file="$(find triskar)/launch/teleop_joy.launch" />	
	
	<!-- Nav Messages converter for triskar base -->	
    <node name="e2_nav_messages" pkg="e2_nav_messages" type="e2_nav_messages_node"/>
    	
	<!-- Load Odometry data -->
	<include file="$(find e2_launch)/launch/components/e2_odometry.launch" /> 
	
    <!-- Kinect launch and scanner info -->
	<include file="$(find e2_launch)/launch/components/e2_scanner.launch" />	
	
	<!-- Load Gmapping -->
	<include file="$(find e2_launch)/launch/components/base/gmapping.launch" />

</launch>