<launch>

	<!-- Odom & Tf -->
	<include file="$(find e2_launch)/launch/e2_odometry.launch" /> 
	   
	<!-- Face Recognition Node -->
	<include file="$(find e2_launch)/launch/face_recognition.launch" />
	
	<!-- Navigation Node -->
	<include file="$(find e2_launch)/launch/e2_navigation.launch" />	
	
	<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find e2_launch)/launch/config/robot.rviz"/>
	
</launch>