<launch>

	<!-- Publish odom -->
  	<node pkg="e2_simulator" type="e2_fake_odom" name="e2_fake_odom"/> 
	
	<!-- Static Transform -->
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    	args="0.0 0 0 0 0 0  /map /odom 100" /> 
	
    <!-- Kinect launch and scanner info -->
	<include file="$(find e2_launch)/launch/scanner.launch" />

	<!-- Face Recognition Node -->
	<include file="$(find e2_launch)/launch/face_recognition.launch" />
	
	<!-- Navigation Node -->
	<include file="$(find e2_launch)/launch/e2_navigation.launch" />	

</launch>
