<launch>

	<!-- Parameters -->
  	<arg name="map_fiera" value="$(find e2_navigation)/map/fiera_final.yaml" /> 
  	<arg name="stand_fiera" value="$(find e2_navigation)/config/marker_config.yaml" />
  	
	<!-- Publish odom -->
  	<node pkg="e2_simulator" type="e2_fake_odom" name="e2_fake_odom"/> 
  	
  	<!-- Static Transform -->
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    	args="0.0 0 0 0 0 0  /map /odom 100" /> 
    	
	<!-- Kinect launch and scanner info -->
	<include file="$(find e2_launch)/launch/simulation_scanner.launch" />

	<!-- Face Recognition Node -->
	<include file="$(find e2_launch)/launch/face_recognition.launch" />
    
	<!-- Voice Node Server-->
  	<node name="e2_voice_node" pkg="e2_voice" type="e2_voice_node" respawn="false" output="screen" />
  	
  	<!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_fiera)"/>
    
    <!-- Run Move Base -->
	<include file="$(find e2_launch)/launch/move_base.launch" />
	
	<!-- Navigation Node -->
	<node name="e2_navigation" pkg="e2_navigation" type="e2_navigation_node" respawn="false" output="screen">
	  	<param name="en_auto" type="bool" value="false" />
	  	<param name="en_neck" type="bool" value="false" />
	  	<param name="en_voice" type="bool" value="true" />
	  	<param name="en_train" type="bool" value="false" /> <!-- Disabled in simulation beacause not good train with meshes-->
		<param name="marker_config" type="string" value="$(arg stand_fiera)" />
	</node>
	  	
    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find e2_launch)/launch/config/simulation.rviz"/>
    
</launch>
