<launch> 
  	<node pkg="e2_brain" name="e2_brain" type="e2_brain" output="screen"/>     	
	<!-- User TRacker-->
  	<node name="user_tracker" pkg="user_tracker" type="user_tracker" respawn="true" />
  	<!-- Head Analyzer-->
  	<node name="head_analyzer" pkg="head_analyzer" type="head_analyzer" respawn="true" />
			
	<!-- Speech Recognizer -->
	<include file="$(find e2_launch)/launch/components/e2_speech_recognition.launch" />
	
</launch>
