<launch>
  <!-- Parameters -->
  <arg name="camera_sim" value="/camera/image_raw" />
  <arg name="camera_usb" value="/usb_cam/image_raw" />
  <arg name="camera_kinect" value="/camera/rgb/image_mono" />
  <arg name="camera_depth" value="/camera/depth/image_raw" />
   
  <!-- Recognition Nodes -->
  <node name="face_recognition" pkg="face_recognition" type="face_recognition_node" respawn="false">
	<remap from="input_rgb" to="$(arg camera_kinect)"/>
	<remap from="input_depth" to="$(arg camera_depth)"/>
  </node>
  
</launch>
